<a href="https://colab.research.google.com/github/ElizangelaStudent/L-GICA-DE-PROGRAMA-O-II-PY-/blob/main/Aula_4_Par%C3%A2metros_e_Retornos_de_Fun%C3%A7%C3%B5es.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Parâmetros e Retornos de Funções**

###Quando estudamos funções, aprendemos que elas podem receber dados (parâmetros) e podem fornecer uma resposta (retorno). Porém, o número de parâmetros era fixo para cada função: um dado para cada parâmetro que declaramos na definição da função. Da mesma forma, a função poderia retornar exatamente um resultado.

###Em alguns casos, mais flexibilidade seria útil. Utilizando tuplas e dicionários conseguimos essa flexibilidade.

##**Funções com retorno múltiplo**

> É uma uma função que **retorna**(return) os valores máximo e mínimo de uma coleção, separados por vírgula.

In [1]:
def min_max(l):
    maior = max(l)
    menor = min(l)
    t =  len(l)
    p = l[0]
    return p, menor, maior, t # por padrão retorna uma tupla

l = [1,2,3,4,5]

In [2]:
maior, menor, t, p = min_max(l)

In [3]:
a =  min_max(l)

In [4]:
a

(1, 1, 5, 5)

##**Parâmetros com valores padrão**

###Uma primeira forma de trabalhar com a ideia de parâmetros opcionais é atribuir valores padrão para nossos parâmetros. Quando fazemos isso, quando a função **for** chamada, o parâmetro pode ou não ser passado. Caso ele não seja passado, é adotado o valor padrão.

###Devemos primeiro colocar os parâmetros "comuns" (conhecidos como argumentos posicionais) para depois colocar os argumentos com valor padrão.

###**Tipagem**

>Os tipos já observamos no primeiro modulo, que podem ser do tipo string(str), interio(int), real(float) e booleano(bool).

```c
// Em linguagem C/C++
int num1 = 25;
int num2 = 30;


int soma(int num1, int num2){
    return (num1 + num2);
}
```

In [6]:
#Quando utilizamos funçoes, podemos definir o tipo, dentro dessa função, observe abaixo:

def create_user(id: int, 
                nome:str, 
                fone:str, 
                address:str = None,  # Parâmetro opcional
                status:bool = True   # Parâmetro padrão
                ) -> dict:

    d = {
        "id":id,
        "nome":nome,
        "fone":fone,
        "address":address,
        "status":status
    }

    return d

In [7]:
create_user(id=1,nome="davi",fone="2143214234")

{'id': 1,
 'nome': 'davi',
 'fone': '2143214234',
 'address': None,
 'status': True}

##**Praticando**

###**Faça um programa que solicite a data denascimento (dd/mm/aaaa) do usuário e imprima a data com o nome do mês porextenso. O programa deve chamar uma função que retorna o mês convertido.** 

**Exemplo:**
- Entrada - Data de Nascimento: 29/10/1973
- Saída - Você nasceu em 29 de Outubro de 1973.

In [8]:
# torna a data uma lista
def sep_data(data:str) -> list:
    separado = data.split('/')
    return separado

# retornar posição do mês
def get_mes(mes:str)-> str:
    mes = int(mes)
    meses = ["janeiro","fevereiro","março","abril",
             "maio","junho","julho","agosto","setembro",
             "outubro","novembro","dezembro"]
    return meses[mes-1]

def imprime(dia:str, mes:str, ano:str) -> None:
    print(f"Você nasceu em {dia} de {mes} de {ano}.")


# input de data
def input_data() -> str:
    data = input("Data de Nascimento: ")
    return data

def main():
    niver = input_data()
    dia, mes, ano = sep_data(niver)
    m = get_mes(mes)
    imprime(dia, m, ano)

In [10]:
main()  # chamando a função

Data de Nascimento: 02/10/2010
Você nasceu em 02 de outubro de 2010.