<a href="https://colab.research.google.com/github/ElizangelaStudent/L-GICA-DE-PROGRAMA-O-II-PY-/blob/main/Aula_1_Revis%C3%A3o_sobre_listas_e_Conhecendo_sobre_Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Revisão de listas**

##**Criando uma lista e acessando elementos**

A lista é uma coleção de objetos em Python. Criando uma única variável para representar a lista, podemos armazenar múltiplos valores. Internamente, esses valores são representados por seus índices: um número inteiro, iniciando em zero e incrementando com passo unitário.

Podemos criar uma lista através da função list ou utilizando um par de colchetes:

In [ ]:
lista1 = list() # uma lista vazia

lista2 = [] # outra lista vazia

linguagens = ['Python', 'JavaScript', 'SQL'] # uma lista com 3 elementos

dados_variados = [3.14, 1000, True, 'abacate'] # uma lista com dados de tipos diversos

lista_de_listas = [ ['Curso', 'Módulo 1', 'Módulo 2'], ['Data Science', 'Lógica de Programação I', 'Lógica de Programação II'], ['Web Full Stack', 'Front End Estático', 'Front End Dinâmico']]

print(linguagens[0]) # imprime "Python"
print(linguagens[1]) # imprime "JavaScript"
print(dados_variados[2]) # imprime True
print(lista_de_listas[2][0]) # imprime "Web Full Stack"

Python
JavaScript
True
Web Full Stack

##**Iterando uma lista**

###Como os elementos em uma lista são representados por números inteiros, podemos facilmente percorrê-la variando seu índice de maneira automatizada:

In [ ]:
for indice in range(4):
    print(dados_variados[indice])

3.14
1000
True
abacate

>Apesar de funcionar, essa forma é considerada pouco legível. Existe uma maneira mais direta de percorrer uma lista. Ao trocarmos a função range do nosso for pela própria lista, ele irá copiar cada elemento da lista para a variável temporária. Assim conseguimos facilmente, e de maneira bem legível, acessar todos os elementos de uma lista:

In [ ]:
for elemento in dados_variados:
    print(elemento)

3.14
1000
True
abacate

>Caso tenhamos listas aninhadas, podemos percorrê-las aninhando loops. Utilizamos um loop para cada "nível" de lista. Execute o bloco abaixo e veja seu resultado na tela:

In [ ]:
for linha in lista_de_listas:
    for elemento in linha:
        print(elemento)

Curso
Módulo 1
Módulo 2
Data Science
Lógica de Programação I
Lógica de Programação II
Web Full Stack
Front End Estático
Front End Dinâmico

##**Fatiamento da lista**

###Uma operação bastante comum em uma lista é extrair apenas uma parte dela, conhecido como fatiamento. Para isso você deve informar, pelo menos, o índice inicial e o índice final, sendo que o índice final não irá entrar na conta - dizemos que ele é um valor "exclusivo", como se fosse um intervalo aberto naquele ponto.

In [ ]:
frutas = ['abacate', 'banana', 'carambola', 'damasco', 'embaúba', 'framboesa', 'goiaba']

algumas_frutas = frutas[2:5] 

print(algumas_frutas) # resultado: ['carambola', 'damasco', 'embaúba']

['carambola', 'damasco', 'embaúba']

>Você pode deixar um dos dois índices em branco. Na ausência do primeiro índice, a operação se iniciará com o índice 0 da lista original. Na ausência do segundo, a operação seguirá até o final da lista original.

In [ ]:
primeiras3 = frutas[:3]
print(primeiras3)

ultimas3 = frutas[4:]
print(ultimas3)

['abacate', 'banana', 'carambola']
['embaúba', 'framboesa', 'goiaba']

>Também podemos utilizar índices negativos. O índice -1 acessa o último elemento da lista, o -2 acessa o penúltimo, e assim sucessivamente. Podemos reescrever o exemplo anterior utilizando números negativos para facilitar ainda mais a legibilidade e tornar o exemplo mais genérico e independente do tamanho da lista:

In [ ]:
ultimas3 = frutas[-3:]
print(ultimas3)

['embaúba', 'framboesa', 'goiaba']

###Você deve se recordar que atribuir uma lista para outra não copia a lista. Veja o exemplo abaixo:

In [ ]:
copia_frutas = frutas
copia_frutas.append('heisteria')
print(frutas) # resultado na tela: ['abacate', 'banana', 'carambola', 'damasco', 'embaúba', 'framboesa', 'goiaba', 'heisteria']

['abacate', 'banana', 'carambola', 'damasco', 'embaúba', 'framboesa', 'goiaba', 'heisteria']

###Quando atribuímos uma lista existente para uma variável, a variável irá referenciar a mesma lista na memória. Portanto, operações realizadas na lista "nova" irão afetar a lista "antiga". Não houve a criação de uma nova lista de fato.

###Uma forma fácil de copiar de verdade uma lista para outra lista é utilizar um slice indo do início até o final da lista original:

In [ ]:
copia_frutas = frutas[:]
print(copia_frutas)

['abacate', 'banana', 'carambola', 'damasco', 'embaúba', 'framboesa', 'goiaba', 'heisteria']

###copia_frutas e frutas não referenciam a mesma lista. Elas referenciam duas listas diferentes contendo os mesmos elementos, mas modificações feitas em uma delas não irão afetar a outra.

>É possível passar mais um valor representando um passo ou salto. Por exemplo, podemos pegar os elementos das posições ímpares da lista começando na posição 1 e adotando salto igual a 2:

In [ ]:
impares = frutas[1::2]
print(impares)

['banana', 'damasco', 'framboesa', 'heisteria']

>Com saltos negativos, é fácil inverter uma lista:

In [ ]:
frutas_inv = frutas[-1::-1]
print(frutas_inv)

['heisteria', 'goiaba', 'framboesa', 'embaúba', 'damasco', 'carambola', 'banana', 'abacate']

##**Concatenação de listas**

###Uma operação útil em listas é a concatenação. Quando "somamos" duas listas, utilizando o operador +, teremos uma nova lista com os elementos das duas listas originais em ordem de aparição:

In [ ]:
ds = ['Python', 'SQL', 'R']
web = ['HTML', 'CSS', 'JavaScript']

linguagens = ds + web
print(linguagens) 
#resultado: ['Python', 'SQL', 'R', 'HTML', 'CSS', 'JavaScript']

['Python', 'SQL', 'R', 'HTML', 'CSS', 'JavaScript']

In [ ]:
g = [12,2] + [5,6, (2,3,4,)]
g

[12, 2, 5, 6, (2, 3, 4)]

In [ ]:
type(g[-1]) #definindo o tipo(type). Logo percebemos que o tipo definido é tupla.

tuple

##**Tuplas**

###**Tupla** é um tipo de estrutura de dados utilizada em Python que funciona de modo semelhante a uma lista, entretanto, com a característica principal de ser **imutável**. Isso significa que quando uma tupla é criada não é possível adicionar, alterar ou remover seus elementos. Geralmente, ela é utilizada para adicionar tipos diferentes de informações, porém, com a quantidade de elementos definidos.

In [ ]:
#Exemplos 

t = (1,2.444,[5,4,6],True,('a',2,3))

In [ ]:
t   # quando declaramos somente "t", irá mostrar todos elementos contidos nele.

(1, 2.444, [5, 4, 6], True, ('a', 2, 3))

In [ ]:
t[0] # quando colocamos o indice, ele mostra o primeiro elemento da lista

1

In [ ]:
t[-1][-1] #quando colocamos dessa forma, no primeiro[-1] será exposto a ultima lista e no segundo[-1] será exposto o ultimo elemento da ultima lista.

3

##**Operações básicas**

###Assim como as listas, tuplas também são coleções de objetos. Elas podem armazenar diversos objetos de diferentes tipos. Elas também possuem índice, que se comporta da mesma maneira que os índices de uma lista. Podemos criar tuplas utilizando parênteses ou a função tuple. Caso a tupla possua pelo menos 2 elementos, não precisamos dos parênteses, basta separar os valores por vírgula, apesar de ser recomendável utilizá-los para evitar ambiguidades:

In [ ]:
tupla1 = tuple() # uma tupla vazia

tupla2 = () # outra tupla vazia

linguagens = ('Python', 'JavaScript', 'SQL') # uma tupla com 3 elementos

dados_variados = 3.14, 1000, True, 'abacate' # uma tupla declarada sem parênteses

tupla_de_tuplas = ( ('Curso', 'Módulo 1', 'Módulo 2'), ('Data Science', 'Lógica de Programação I', 'Lógica de Programação II'), ('Web Full Stack', 'Front End Estático', 'Front End Dinâmico'))

print(linguagens[0]) # imprime "Python"
print(linguagens[1]) # imprime "JavaScript"
print(dados_variados[2]) # imprime True
print(tupla_de_tuplas[2][0]) # imprime "Web Full Stack"

Python
JavaScript
True
Web Full Stack

>Todas as outras operações que revisamos hoje em listas podem ser realizadas com tuplas:

- iteração através de um loop do tipo for
- slicing passando índice inicial, final e salto
- concatenação

In [ ]:
#Exemplo de interação atraves do FOR

t = ("Davi", 2.444, [5, 4, 6], True, ('a', 2, 3))
for i in t:
    print(i)

Davi
2.444
[5, 4, 6]
True
('a', 2, 3)

In [ ]:
#Exemplo de slicing passando índice inicial, final e salto

t = ("Davi", 2.444, [5, 4, 6], True, ('a', 2, 3))
t[:3]      # neste exemplo vai do indice "0" até o "2"- lembrando que em lista incluir o primeiro e excluir o ultimo(não conta com o indice 3)

('Davi', 2.444, [5, 4, 6])

In [ ]:
#Exemplo de concatenação

t = ("Davi", 2.444, [5, 4, 6], True, ('a', 2, 3)) #Concatenação não é soma, é somente a junção dos elementos declarados no código.

t = t + (3.4,)     
t = t + (True, False)
t

('Davi', 2.444, [5, 4, 6], True, ('a', 2, 3), 3.4, True, False)

>>É possível também fazer conversão de lista para tupla e vice-versa:

In [ ]:
lista_frutas = ['abacate', 'banana', 'carambola', 'damasco', 'embaúba', 'framboesa', 'goiaba']

tupla_frutas = tuple(lista_frutas)
print(tupla_frutas)

nova_lista_frutas = list(tupla_frutas)
print(nova_lista_frutas)

('abacate', 'banana', 'carambola', 'damasco', 'embaúba', 'framboesa', 'goiaba')
['abacate', 'banana', 'carambola', 'damasco', 'embaúba', 'framboesa', 'goiaba']

##**Desempacotamento de tupla**

###Uma operação bastante interessante que podemos realizar com tuplas é o desempacotamento de tuplas, que aparecerá em muitos locais com seu nome em inglês, tuple unpacking.

###O desempacotamento de tupla é uma operação que **permite facilmente atribuir o conteúdo de uma tupla a variáveis individuais**, sem a necessidade de escrever múltiplas linhas de código e manipular índices. Vejamos um exemplo básico:

In [ ]:
#Exemplo 1
x, y, z = ('Lista', 'Tupla', 'Dicionário')   #Atribuindo o valor, nesse exemplo x = lista, y = tupla e z= dicionário
print(x) # Lista
print(y) # Tupla
print(z) # Dicionário

Lista
Tupla
Dicionário

In [ ]:
#Exemplo 2
t = (1,2,3)
x, y, z = t                                  # Da mesma forma do exemplo acima, nesse caso só está atribuindo o valor as incógnitas , nesse exemplo x = 1, y = 2 e z= 3
print(x)
print(y)
print(z)

1
2
3

###Uma limitação inicial que temos com essa técnica é que precisamos utilizar exatamente 1 variável para cada elemento da tupla, mesmo que não estejamos interessados em todos os seus elementos. Podemos contornar isso utilizando o operador *(resto). Ao utilizá-lo em uma das variáveis no desempacotamento, estamos sinalizando que ele pode receber múltiplos valores, formando uma coleção com parte dos valores:

In [ ]:
linguagens = ('Python', 'JavaScript', 'HTML', 'CSS', 'R')

primeira, *resto = linguagens
print(primeira) # Python
print(resto) # ['JavaScript', 'HTML', 'CSS', 'R']

*resto, ultima = linguagens
print(resto) # ['Python', 'JavaScript', 'HTML', 'CSS']
print(ultima) # R

primeira, *meio, ultima = linguagens
print(primeira) # Python
print(meio) # ['JavaScript', 'HTML', 'CSS']
print(ultima) # R

Python
['JavaScript', 'HTML', 'CSS', 'R']
['Python', 'JavaScript', 'HTML', 'CSS']
R
Python
['JavaScript', 'HTML', 'CSS']
R

>O desempacotamento também pode ser utilizado com listas. Um dos principais motivos para ele frequentemente ser lembrado como uma operação de tupla foi que ele inicialmente só existia, de fato, para tuplas, e foi implementado para listas em versões mais recentes do Python. Outro motivo está relacionado à imutabilidade: como a tupla é imutável, temos mais garantias de que sabemos qual dado está em cada posição dela, tornando essa operação mais confiável em tuplas do que em listas.

##**Operações com tuplas "implícitas"**

###O Python oferece alguns truques que permitem escrever códigos mais enxutos do que em outras linguagens, e parte desses truques utiliza sintaxe de tupla. Por exemplo, para criar duas variáveis e atribuir valores simultaneamente a elas, podemos utilizar vírgulas:

In [ ]:
x, y = 10, 20

print(x) # 10
print(y) # 20

10
20

>Outro truque relacionado bastante comum é inverter o valor de duas variáveis:

In [ ]:
y, x = x, y

print(x) # 20
print(y) # 10

20
10

>Esse tipo de operação é considerado açúcar sintático, ou seja, não acrescenta funcionalidades novas, apenas cria formas mais simples e legíveis de realizar operações que já éramos capazes de realizar anteriormente.

>Internamente, o Python está usando lógica de criar e desempacotar tuplas para realizar esse tipo de operação.

##**Facilidades para iteração**

###Sempre que possível, é preferível iterar uma coleção - seja ela uma lista ou uma tupla - de maneira direta utilizando for sem índices. Há alguns problemas onde pode ser difícil escapar do índice, pois nossa lógica irá depender de posição de alguma maneira.

###Veremos duas estruturas que irão nos auxiliar a fazer iteração por índice sem precisar utilizar uma estrutura pouco legível como:

In [ ]:
t2 = (1,2,3,4,5,6,7,8,9)

for i in range(len(t2)):
    print(t2[i])

1
2
3
4
5
6
7
8
9

##**Enumerate**

###Considere um problema qualquer onde o índice importa. Por exemplo, suponha que você possua uma lista de strings e gostaria de exibi-la intercalando uma em letra maiúscula e outra em letra minúscula (assim como frequentemente representamos tabelas intercalando as cores de suas linhas em editores de planilha para melhorar a legibilidade).

###A lógica desse problema poderia ser resolvida usando índice:

In [ ]:
lista_frutas = ['abacate', 'banana', 'carambola', 'damasco', 'embaúba', 'framboesa', 'goiaba']

for indice in range(len(lista_frutas)):
    if indice % 2 == 0:
        print(lista_frutas[indice].upper())
    else:
        print(lista_frutas[indice].lower())

ABACATE
banana
CARAMBOLA
damasco
EMBAÚBA
framboesa
GOIABA

###Existe uma ferramenta em Python que pode nos ajudar a escrever de maneira mais pythonica, sem precisar acessar lista por índice: o enumerate. Primeiro, vamos entender o que ele faz e, em seguida, veremos como deixar o código mais limpo:

In [ ]:
for x in enumerate(lista_frutas):
    print(x)

#Saída na tela:

(0, 'abacate')
(1, 'banana')
(2, 'carambola')
(3, 'damasco')
(4, 'embaúba')
(5, 'framboesa')
(6, 'goiaba')

(0, 'abacate')
(1, 'banana')
(2, 'carambola')
(3, 'damasco')
(4, 'embaúba')
(5, 'framboesa')
(6, 'goiaba')

(6, 'goiaba')

In [ ]:
l = ["antonia","Rebecca","George"]
for index, dado in enumerate(l): # index, dado = i
    print(index, dado)

0 antonia
1 Rebecca
2 George

###O enumerate montou uma estrutura onde cada elemento é uma tupla, sendo o primeiro elemento da tupla um índice da lista, e o segundo o valor associado àquele índice. Aplicando desempacotamento de tupla no for, podemos ter, simultaneamente, índice e valor em variáveis separadas, na prática percorrendo a lista tanto por índice quanto por valor. Refazendo o exemplo das maiúsculas/minúsculas:

In [ ]:
for indice, valor in enumerate(lista_frutas):
    if indice % 2 == 0:
        print(valor.upper())
    else:
        print(valor.lower())

ABACATE
banana
CARAMBOLA
damasco
EMBAÚBA
framboesa
GOIABA

##**Zip**

###Vamos pensar em um problema onde precisamos percorrer duas listas simultaneamente. Por exemplo, considere que temos uma lista com os nomes de todos os alunos de uma turma, e outra com as notas, na mesma ordem. Como faríamos para acessar, simultaneamente, o nome de um aluno e a sua nota?

###Esse é um problema onde, a princípio, utilizaríamos índice. Se usarmos o mesmo índice nas duas listas, estamos na prática percorrendo ambas as listas simultaneamente:

In [ ]:
alunos = ['Paul', 'John', 'George', 'Ringo']
notas = [10, 9.5, 7, 6]

for indice in range(len(alunos)):
    print(f'Aluno {alunos[indice]}: {notas[indice]}')

#Saída na tela:Aluno Paul: 10 Aluno John: 9.5 Aluno George: 7 Aluno Ringo: 6

Aluno Paul: 10
Aluno John: 9.5
Aluno George: 7
Aluno Ringo: 6

>Vamos ver agora o zip em ação para compreender como ele funciona:

In [ ]:
for x in zip(alunos, notas):
    print(x)

#Saída na tela:('Paul', 10)('John', 9.5)('George', 7)('Ringo', 6)

('Paul', 10)
('John', 9.5)
('George', 7)
('Ringo', 6)

>Assim como no enumerate, o zip montou tuplas. Cada tupla representa 1 posição das listas originais, e cada posição dentro da tupla representa o dado de uma das listas. Ou seja, cada elemento do zip contém 1 elemento de cada lista original, na ordem que eles apareceram nas listas originais. Logo, ele permite percorrer 2 listas simultaneamente.

>Novamente podemos aplicar desempacotamento de tuplas em nosso loop e acessar os dados de cada lista individualmente de maneira legível:

In [ ]:
alunos = ['Paul', 'John', 'George', 'Ringo']
notas = [10, 9.5, 7, 6]

for aluno, nota in zip(alunos, notas):
    print(f'Aluno {aluno}: {nota}')

#Saída na tela:Aluno Paul: 10 Aluno John: 9.5 Aluno George: 7 Aluno Ringo: 6

Aluno Paul: 10
Aluno John: 9.5
Aluno George: 7
Aluno Ringo: 6

In [ ]:
# outro exemplo

idade = (12,45,60)
nome = ["antonia","Rebecca","George"]
num = (1,2,3)

for n, i, x in zip(nome, idade, num): # n, i, x = (nome, idade, num)
    print(n, i, x)

antonia 12 1
Rebecca 45 2
George 60 3

##**Praticando**

### **Usando tuplas, crie um programa que peça ao usuário nome, idade, altura, peso, estado civil (casado/solteiro), e imprima semelhante a:**

```
nome: davi
idade: 30
altura: 1.65
peso: 80
Estado civil:
1. Solteiro
2. Casado


nome: davi
idade: 30
altura: 1.65
peso: 80
Estado civil: Solteiro
```

In [8]:
#Exemplo 1

nome = input('Digite nome: ')
idade = input('Digite idade: ')
altura = input('Digite altura: ')
peso = input('Digite peso: ')
estado_civil = input('Digite estado civil (solteiro ou casado - escreva por extenso):')
nomes_dados = ('nome:','idade:','altura:','peso:','estado_civil:')
dados = (nome, idade, altura, peso, estado_civil)

for n, d in zip(nomes_dados,dados):
 print(n,d)

Digite nome: Elizangela
Digite idade: 31
Digite altura: 1.69
Digite peso: 89
Digite estado civil (solteiro ou casado - escreva por extenso):solteiro
nome: Elizangela
idade: 31
altura: 1.69
peso: 89
estado_civil: solteiro

In [7]:
#Exemplo 2

nome = input("Qual seu nome: ")
idade = int(input("Qual sua idade: "))
altura = float(input("Qual sua altura: "))
peso = float(input("Qual seu peso: "))
estado_civil= int(input("Estado civil:\n1.Casado\n2.Solteiro\nEscolha uma opção: "))

if estado_civil == 1:
   estado_civil="Casado"
elif estado_civil==2:
   estado_civil="solteiro"

t1 = (nome, idade, altura, peso, estado_civil)

print(f"\nNome  : ", t1[0],f"\nIdade : ", t1[1], " anos",f"\nAltura: ", t1[2], "m",f"\nPeso  : ", t1[3], "kg",f"\nEstado Civil: ", t1[4])

Qual seu nome: Elizangela
Qual sua idade: 31
Qual sua altura: 1.69
Qual seu peso: 89
Estado civil:
1.Casado
2.Solteiro
Escolha uma opção: 2

Nome  :  Elizangela
Idade :  31  anos
Altura:  1.69 m
Peso  :  89.0 kg
Estado Civil:  solteiro